html, body{
    background-color: rgb(161, 66, 37,0.2);
    margin: 0px;
    height: 100vh; /* Necessário no mozilla, relacionado com o .wrapper 10vw */
    font-family:  Helvetica, Arial, sans-serif;
}
img {
    border-radius: 50%;
    height: 5em;
    width: 5em;
    border: solid 1.5px rgb(102, 102, 102);
    box-shadow: -0.5px -0.5px 0.5px 0.5px rgba(0, 0, 255, .2);;
}
.t-header{
    background-image: repeating-linear-gradient(rgba(105, 44, 44, 1), rgb(161, 66, 37));
    display: flex;
    justify-content: flex-end;
}
.t-header .start{
    margin-right: auto;
}
.group {
    align-self: center;
}

.group a{
    text-decoration: none;
    color: rgba(252, 252, 252, 0.8);
    text-shadow: 0 1 5px #000;  
    font-size: 1em;
    padding: 0.5em;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.integrantes{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.integrantes .membro{
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    border: solid 1.5px rgb(102, 102, 102);
    max-width: 40vw;
    background-color: rgb(44, 41, 36,0.2);
    overflow-x:scroll;
}

li{
    margin: 1em;
}

@-moz-document url-prefix() {
    button{
        line-height: 1em;
    }
    
}