.t-header{
    background-color:#6f5c39 ;
    display: flex;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    float: left;
}

li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    color: #15130f;
    text-decoration: none;
}
.t-banner{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5%;
}

nav {
    align-self: flex-end;
    margin-left: auto
}

html, body{
    background-color: #e3dac9;
    margin: 0px;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;

}

img{
    margin: 0px;
}