html, body{
    background-color: rgb(161, 66, 37,0.2);
    margin: 0px;
    height: 100vh; /* Necessário no mozilla, relacionado com o .wrapper 10vw */
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;

}

label{
    
    font-size: small;
    color: whitesmoke;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.t-header{
    background-image: repeating-linear-gradient(rgba(105, 44, 44, 1), rgb(161, 66, 37));
    display: flex;
}

.wrapper{
    margin-top: 10vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

.wrapper .body{
    min-width: 350px;
    background-image: repeating-linear-gradient(rgb(161, 66, 37), rgb(161, 66, 37,0.9));
    border: solid 1px rgb(102, 102, 102);
    border-radius: 10px;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, .2);
    justify-content: center;
    align-items: center;
}

input{
    border: solid 1px rgb(102, 102, 102);
    border-radius: 4px;
}

table{
    margin: 2%;
    
}

button{
    height: 2em;
    width: 10em;
    margin-top: 1em;
    line-height: 1.7em;
    
    display: flex;
    justify-content: center;
}


.t-header object{
    padding-left: 1em;
}

#centering{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filler{
    flex-grow: 1;
}

a.login{  
    font-size:x-small;
    
    text-shadow: rgba(255, 255, 255, 0.87) 1px 1px 2px;
}

p.login{
    font-size:x-small;
    color: whitesmoke;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
@-moz-document url-prefix() {
    button{
        line-height: 1em;
    }
    
}