html, body{
    background-color: #e3dac9;
    margin: 0px;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;

}

label{
    
    font-size: small;
    color: whitesmoke;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.t-header{
    background-color:#6f5c39 ;
    display: flex;
}

.wrapper{
    margin-top: 10vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

.wrapper .body{
    min-width: 350px;
    background-color: #a0865a;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, .2);
    justify-content: center;
    align-items: center;
}

input{
    border: solid 1px black;
    border-radius: 4px;
}

table{
    margin: 2%;
    
}

button{
    height: 2em;
    width: 10em;
    margin-top: 1em;
    line-height: 1.7em;
    margin-left: auto;
    display: flex;
    justify-content: center;
    
}


img{
    margin: 0px;
}

#centering{
    display: flex;
    justify-content: center;
    align-items: center;
}

.splitter{
    justify-content: center;
    display: flex;
    align-items: center;
}

.splitter a{
    padding: 1em;
}
.filler{
    flex-grow: 1;
}

.login{  
    font-size:x-small;
    text-shadow: rgba(255, 255, 255, 0.87) 1px 1px 2px;
}