html, body{
    background-color: rgb(161, 66, 37,0.2);
    margin: 0px;
    
    font-family:  Helvetica, Arial, sans-serif;
}

.t-header{
    background-image: repeating-linear-gradient(rgba(105, 44, 44, 1), rgb(161, 66, 37));
    display: flex;
    justify-content: flex-end;
}
.t-header .start{
    margin-right: auto;
}
.group {
    align-self: center;
}

.group a{
    text-decoration: none;
    color: rgba(252, 252, 252, 0.8);
    text-shadow: 0 1 5px #000;  
    font-size: 1em;
    padding: 0.5em;
}
.wrapper{
    margin-top: 10vw;
    justify-content: center;
    align-items: center;
    display: flex;
}
#tabelaDeProdutos{
    table-layout: fixed;
    width: 75%;
}
#countCart{
    display: inline;
    float: right;
    margin-top: 65px;
}
#shoppingCart{
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}
#botoesFinalDeCompra{
    text-align: right;
    margin-top: 30px;
    margin-right: 200px;
    font-weight: bold;
    visibility: hidden;
}
thead{
    font-weight: bold;
}
@-moz-document url-prefix() {
    button{
        line-height: 1em;
    }
    
}