html, body{
    background-color: rgb(161, 66, 37,0.2);
    margin: 0px;
    height: 100%;
    font-family:  Helvetica, Arial, sans-serif;
}

.t-header{
    background-image: repeating-linear-gradient(rgba(105, 44, 44, 1), rgb(161, 66, 37));
    display: flex;
    justify-content: flex-end;
}
.t-header .start{
    margin-right: auto;
}
.group {
    align-self: center;
    
}

.top-level{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
.wrapper-custom{
    min-width: 450px;
    width: 90vw;
    height: 550px;
    background-image: repeating-linear-gradient(rgba(250, 252, 255, 0.4), rgba(255, 255, 255, 0.7));
    border: solid 1px rgb(102, 102, 102);
    border-radius: 10px;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, .2);
    
    overflow: scroll;
    overflow-x: hidden; 
    margin-bottom: 2em;
}
.group a{
    text-decoration: none;
    color: rgba(252, 252, 252, 0.8);
    text-shadow: 0 1 5px #000;  
    font-size: 1em;
    padding: 0.5em;
}
.wrapper{
    margin-top: 10vw;
    justify-content: center;
    align-items: center;
    display: flex;
}
#tabelaDeProdutos{
    table-layout: fixed;
    width: 75%;
}
#countCart{
    display: inline;
    float: right;
    margin-top: 65px;
}
#shoppingCart{
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}
#botoesFinalDeCompra{
    text-align: right;
    margin-top: 30px;
    margin-right: 200px;
    font-weight: bold;
    visibility: hidden;
}
.sticky{
    position: fixed;
    width: inherit;
    background-image: repeating-linear-gradient(rgba(105, 44, 44, 1), rgb(161, 66, 37));
    border: solid  1px rgb(102, 102, 102);
    border-radius: 10px 10px 0px 0px;
}
.img-brd{
    border: solid 1px rgb(102, 102, 102);
}

.filters{
    padding-left: 2em;
}
thead{
    font-weight: bold;
}
h2{
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
@-moz-document url-prefix() {
    button{
        line-height: 1em;
    }
    
}